*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
html{
    background: rgb(34, 32, 32);
}    
      
body{
    height: 100vh;

}
@media screen and (max-width: 590px){
  body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
  #body-container{
    background: url(Images/default.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
  }   
  
  /* Loading Animation */

  #lds-roller {
    margin-left: 40%;
    align-self: center;
    justify-items: center;

    }
    #lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    #lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      margin: -4px 0 0 -4px;
    }
    #lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    #lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    #lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    #lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    #lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    #lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    #lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    #lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    #lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    #lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    #lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    #lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    #lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    #lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    #lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    #lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
  
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(245, 245, 245, 0.406);
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(245, 245, 245, 0.406);
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba(245, 245, 245, 0.406);
    }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  .background{
      height: 100%;
      aspect-ratio: 16/9;
      z-index: -1;
      width: 100%;
  }
  .weather-app{
    align-self:center;
    
      padding: 65px 0% 0% 30px;
      font-size: large;
      /* text-decoration: underline; */
  }
  
  .weather-display{
      padding: 0% 0% 0% 10%;  
      display: flex;
      margin-top: 80%;
      gap: 20px;  
      flex-direction: column;
  }
  
  .temperature{
      font-size: 2.5rem;
  }
  .city-name{
      display: flex;
      flex-direction: column;
  }
  
  .city-name h2{
      font-size: 3rem;
      padding-top: 0px;
  
  }
  /* .Date-time{
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-size: 1.5rem;
  } */
  
  .weather-condition{
      display: flex;
      flex-direction: row;
      gap: 0px;
  }
  
  .weather-condition img{
      width:6.5rem;
      height: 6rem;
      margin-top: 0px;
      gap: 0px;
      display: none;
  }
  .weatherMain{
      font-size: 2rem;
      align-self:flex-start;
      margin-bottom: 0px;
  }
  
  .dummycss{
      background:rgb(3, 87, 74) ;
  }
  
  .weather-menu{
      width: 100vw;
      background: rgb(38, 40, 44);
      backdrop-filter: saturate(180%) blur(10px);
      height: 100%;
  
  }
  
  .container{
      margin: 10%;
      display: flex;
      flex-direction: column;
      gap: 70px;
  }
  
  button{
      background: rgb(1, 47, 133);
      font-size: 1rem;
      padding: 20px;
      border: 0px;
      position: absolute;
      right: 0;
      cursor: pointer;
      /* border-bottom-left-radius: 15%; */
  }
  .input-city{
      display: flex;
      margin-top: 6%;
      gap: 10px;
      flex-direction: column;
      color: rgba(255, 255, 255, 0.175);
  }
  .input-city hr{
      width: 85%;
      border: 1px solid rgba(255, 255, 255, 0.153);
  
  }
  .input-city input{
      font-size: 1.2rem;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      border: 0;
  }
  
  ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 35px;
  }
  
  ul li{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
  }
  
  ul li p{
      color: rgba(255, 255, 255, 0.549);
  }
  .weather-details{
      display: flex;
      flex-direction: column;
      gap: 60px;
      font-size: 1.2rem;
  }
  .detail-title{
      font-weight: bold;
  }
} 

@media screen and (min-width: 590px){
  #body-container{
    background: url(Images/default.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    position: relative;
  }   
  
  /* Loading Animation */
  #lds-roller {
      display: inline-block;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 40%;
      left: 50%;
      right: 50%;
      bottom: 50%;
    }
    #lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    #lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      margin: -4px 0 0 -4px;
    }
    #lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    #lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    #lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    #lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    #lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    #lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    #lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    #lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    #lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    #lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    #lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    #lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    #lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    #lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    #lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    #lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
  
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(245, 245, 245, 0.406);
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(245, 245, 245, 0.406);
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba(245, 245, 245, 0.406);
    }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  .background{
      height: 100%;
      aspect-ratio: 16/9;
      z-index: -1;
      width: 100%;
  }
  .weather-app{
    align-self:center;
    
      padding: 60px 0% 0% 60px;
      font-size: large;
      /* text-decoration: underline; */
  }
  
  .weather-display{
    position: absolute;
    bottom: 0;
    left: 0;
      padding: 0% 0% 4% 4%;  
      display: flex;
      gap: 20px;  
      flex-direction: column;
  }
  
  .temperature{
      font-size: 2.5rem;
  }
  .city-name{
      display: flex;
      flex-direction: column;
  }
  
  .city-name h2{
      font-size: 3rem;
      padding-top: 0px;
  
  }
  /* .Date-time{
      display: flex;
      flex-direction: row;
      gap: 20px;
      font-size: 1.5rem;
  } */
  
  .weather-condition{
      display: flex;
      flex-direction: row;
      gap: 0px;
  }
  
  .weather-condition img{
      width:6.5rem;
      height: 6rem;
      margin-top: 0px;
      gap: 0px;
      display: none;
  }
  .weatherMain{
      font-size: 2rem;
      align-self:flex-start;
      margin-bottom: 30px;
  }
  
  .dummycss{
      background:rgb(3, 87, 74) ;
  }
  
  .weather-menu{
      width: 50vw;
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.298);
      backdrop-filter: saturate(180%) blur(10px);
      height: 100%;
  
  }
  
  .container{
      margin: 10%;
      display: flex;
      flex-direction: column;
      gap: 70px;
  }
  
  button{
      background: rgb(1, 47, 133);
      font-size: 1rem;
      padding: 20px;
      border: 0px;
      position: absolute;
      right: 0;
      cursor: pointer;
      /* border-bottom-left-radius: 15%; */
  }
  .input-city{
      display: flex;
      gap: 10px;
      flex-direction: column;
      color: rgba(255, 255, 255, 0.175);
  }
  .input-city hr{
      width: 85%;
      border: 1px solid rgba(255, 255, 255, 0.153);
  
  }
  .input-city input{
      font-size: 1.2rem;
      width: 100%;
      background: rgba(0, 0, 0, 0);
      border: 0;
  }
  
  ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 35px;
  }
  
  ul li{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
  }
  
  ul li p{
      color: rgba(255, 255, 255, 0.549);
  }
  .weather-details{
      display: flex;
      flex-direction: column;
      gap: 60px;
      font-size: 1.2rem;
  }
  .detail-title{
      font-weight: bold;
  }
} 

@media screen and (min-width: 920px) {

#body-container{
  background: url(Images/default.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}   

/* Loading Animation */
#lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40%;
    left: 50%;
    right: 50%;
    bottom: 50%;
  }
  #lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  #lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    margin: -4px 0 0 -4px;
  }
  #lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  #lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  #lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  #lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  #lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  #lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  #lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  #lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  #lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  #lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  #lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  #lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  #lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  #lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  #lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  #lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(245, 245, 245, 0.406);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(245, 245, 245, 0.406);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(245, 245, 245, 0.406);
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.background{
    height: 100%;
    aspect-ratio: 16/9;
    z-index: -1;
    width: 100%;
}
.weather-app{
  align-self:center;
  
    padding: 60px 0% 0% 60px;
    font-size: large;
    /* text-decoration: underline; */
}

.weather-display{
  position: absolute;
  bottom: 0;
  left: 0;
    padding: 0% 0% 4% 4%;  
    display: flex;
    gap: 35px;  
    flex-direction: row;
}

.temperature{
    font-size: 3rem;
}
.city-name{
    display: flex;
    flex-direction: column;
}

.city-name h2{
    font-size: 3rem;
    padding-top: 20px;

}
/* .Date-time{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.5rem;
} */

.weather-condition{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.weather-condition img{
    width:8rem;
    height: 7rem;
    margin-top: 20px;
    gap: 10px;
    display: none;
}
.weatherMain{
    font-size: 2rem;
    align-self:flex-start;
    margin-bottom: 30px;
}

.dummycss{
    background:rgb(3, 87, 74) ;
}

.weather-menu{
    width: 30vw;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.298);
    backdrop-filter: saturate(180%) blur(10px);
    height: 100%;

}

.container{
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

button{
    background: rgb(1, 47, 133);
    font-size: 1.4rem;
    padding: 25px;
    border: 0px;
    position: absolute;
    right: 0;
    cursor: pointer;
    /* border-bottom-left-radius: 15%; */
}
.input-city{
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.175);
}
.input-city hr{
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.153);

}
.input-city input{
    font-size: 1.2rem;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

ul li p{
    color: rgba(255, 255, 255, 0.549);
}
.weather-details{
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 1.2rem;
}
.detail-title{
    font-weight: bold;
}
}